<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form action="" method="post" id="form" class="form">
            <h2>Regístrese en este formulario</h2>
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Ingrese su nombre de usuario">
                <small>Error message: </small>
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Ingrese su email">
                <small>Error message: </small>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="text" name="password" id="password" placeholder="Ingrese su contraseña">
                <small>Error message: </small>
            </div>
            <div class="form-control">
                <label for="password2">Confirm Password</label>
                <input type="text" name="password2" id="password2" placeholder="Confirme su contraseña">
                <small>Error message: </small>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>